ConnectionStrings__Default=Host=localhost;Port=5432;Database=cpcredo;Username=cpcredo;Password=cpcredo
Jwt__Secret=CPCREDO-dev-change-me-32chars-minimum-key!
Seed__AdminUsername=admin
Seed__AdminPassword=Admin@Cpcredo2026
